
 <!-- Preloder?? Offcanvas and Header -->
 <!-- 3 codes in a single file  -->


<body>
    
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <% 
                if(isLoggedIn){
                    %>
                    <a href="/logout">Sign Out</a>
                    <%
                }else{
                    %>
                    <a href="/login">Sign in</a>
                    <%
                }
                %>
                
                <a href="#">FAQs</a>
            </div>
            <!-- <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div> -->
        </div>
        <div class="offcanvas__nav__option">
            <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a> -->
            <a href="#"><img src="/img/icon/heart.png" alt=""></a>
            <a href="/shoppingCart" class="text-decoreation-none text-dark">
                <% 
                if(locals.cartCount){
                    %>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark text-white" style="top: 0;">
                        <%= cartCount %>
                    </span>
                    <%  
                }
                %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </a>
            <a href="/profile" class="text-decoreation-none text-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </a>
            <!-- <div class="price">$0.00</div> -->
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->


    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <% 
                                if(isLoggedIn){
                                    %>
                                    <a href="/logout">Sign Out</a>
                                    <%
                                }else{
                                    %>
                                    <a href="/login">Sign in</a>
                                    <%
                                }
                                %>
                                <a href="#">FAQs</a>
                            </div>
                            <!-- <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img style="width: 50px;" src="/img/gg-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="<% if(locals.page === 'Home'){ %> active <% } %>"><a href="/">Home</a></li>
                            <li class="<% if(locals.page === 'Shop'|| locals.parentPage === 'Shop'){ %> active <% } %>"><a href="/shop">Shop</a></li>
                            <li class="<% if(locals.page === 'About Us'){ %> active <% } %>"><a href="/aboutUs">About Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option d-flex justify-content-around" >
                        <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a> -->
                        <div class="shop__sidebar__search mx-3">
                            <div class="d-flex" >
                                <input type="search" id="queryInput" onkeydown="checkEnterKey(event)" placeholder=" Search..." class="" style="width: 10rem; height: 2rem; border: 1; border-color: thistle;"  >
                                <button onclick="submitQuery()" class="me-4" style="border: 1px solid black; background-color: black;"><i class="bi bi-search text-white" style="background-color: black;"></i></button>
                            </div>
                        </div>
                        <!-- <a href=""></a> -->
                        <a href="#" class="text-decoreation-none text-dark" ><img src="img/icon/heart.png" alt=""></a>
                        <a href="/shoppingCart" class="text-decoreation-none text-dark  position-relative">
                            <% 
                            if(locals.cartCount){
                                %>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark text-white" style="top: 0;">
                                    <%= cartCount %>
                                </span>
                                <%  
                            }
                            %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                           
                        </a>
                        <a href="/profile" class="text-decoreation-none text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->