.card {
    border-radius: 8px;
    border: 1px solid #B7B7B7;
    background: #FFF;
}

.login-btn {
    background-color: #E53637;
    color: white;
    width: 300px;
    height: 49px;
    flex-shrink: 0;
}
.signup-btn{
    color: #E53637;
}